.p2{
	padding: 2rem !important;
}
.center {
	padding:2rem !important;
	width:80% !important;
	margin:2rem auto !important
}
.order-line-height{
	li {
		line-height: 3rem;
	}
}
#__next {
	height: inherit;
}